.tdl1 {
    border-radius: 20px;
    background: linear-gradient(#232F3E, #664e5d);
    border: 2px solid white;
    text-align: center;
}

.todo-container {
    border-radius: 10px;
    color: white;
    display: flex;
    margin-left: 300px;
    border: 1px solid white;
    background-color: #37475A;
    box-shadow: 4px 5px #d5cbcb;
    margin: 15px;
    padding: 10px;
    width: 367px;
}


.todo-icon {
    position: absolute;
    margin-left: 277px;
    margin-top: -5px;

}

.todo-title {
    font-weight: bold;
    color: black(191, 52, 149);
    font-size: 17px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px
}

.title-todo {
    font-family: cursive;
    font-size: 27px;
    font-weight: bold;
    color: white;
    margin: 20px;

}

.todo {
    margin: 40px;
    display: flex;
    justify-content: center;
}